/* Variables and Base Styles */
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --ff: 'Outfit', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff);
  color: var(--Grayish-blue);
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 3rem;
  text-align: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Layout and Components */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--White);
  border-radius: 1rem;
  padding: 1rem;
  width: 200px;
  gap: 1rem;
}

.img_qr {
  border-radius: 0.5rem;
}

.second {
  background-color: var(--White);
  border-radius: 0.5rem;
  padding: 1rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Dark-blue);
}

.para {
  font-size: 0.9rem;
  font-weight: 400;
}
